/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

header .logo {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s;
    font-family: 'Lora', serif;
}

nav ul li a:hover {
    color: #f0c041;
    transform: scale(1.1); /* Animação ao passar o mouse */
}

/* Ícones interativos */
nav ul li a i {
    margin-right: 8px;
}

/* HERO SECTION */
.hero {
    position: relative;
    height: 90vh;
    background: url('../pics/hero.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.cta h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.cta .button {
    padding: 12px 24px;
    background-color: #f0c041;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta .button:hover {
    background-color: #333;
    color: #f0c041;
}

/* PORTFOLIO */
#portfolio {
    padding: 60px 0;
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.galeria img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* FORMULÁRIO */
#contact {
    padding: 60px 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Lora', serif;
}

form button {
    padding: 12px 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #f0c041;
    color: #333;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .galeria img {
        width: 100%;
        margin-bottom: 20px;
    }
}
